---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
import Title2 from '../components/Title2.astro';
import Title3 from '../components/Title3.astro';
import Title4 from '../components/Title4.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Title/>
		<Title2/>
		<Title3/>
		<Title4/>
		<Footer/>
	</main>
</Layout>

