<footer class="py-[100px] pl-[79px] pr-[650px] bg-black ">
    <img src="./img/Paramount+_logo.png" class="w-[120px]" alt="">
    <div class="grid grid-cols-3 py-[37px]">
        <ul>
            <li><b>Navegacion del sitio</b></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Inicio</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Series</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Peliculas</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Marcas</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Paramount+ Colombia</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Paramount+ Global</a></li>
        </ul>
        <ul>
            <li><b>Privacidad y términos</b></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Acuerdos de Subscripción</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Terminos de Uso</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Política de privacidad</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Política de privacidad infantil</a></li>
        </ul>
        <ul>
            <li><b>Soporte</b></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Ayuda / Contáctanos</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Guia de clasificaciones</a></li>
            <li><a href="#" class="text-[#5d5d5d] text-xs">Dispositivos compatibles</a></li>
        </ul>
    </div>
    <p class="text-[#5d5d5d] text-xs">Paramount+ © 2024 Paramount. Todos los derechos reservados.</p>
</footer>