<nav class="flex fixed justify-between pr-[60px] pl-[70px] ">
<div class="flex gap-4 pl-[20px] pt-5 pr-[510px]">
<a href="#"><img class="w-[130px]" src="./img/Paramount.png" alt=""></a>
|
<h1 class="text-[#828d8e]">HALO - TEMPORADA 2 <b class="text-white">VER AHORA</b></h1>
</div>
<div class="flex  gap-4">
    <a class="pt-5" href="#">INICIAR SESIÓN</a>
    <a class="boton1 mt-2 rounded-sm duration-700 px-[15px] py-[13px]" href="">SUBSCRÍBETE A PARAMOUNT+ </a>
</div>
</nav>
   
<style>
    .boton1{
       background: linear-gradient(90deg, #0037c5, #0064ff);
    }

    .boton1:hover{
        background: #195375;
        background: linear-gradient(90deg, #0064ff 0%, #0037c5 100%);


    }
</style>
