<section class="px-[100px] pb-[290px] pt-[90px] bg-repeat-round" style="background-image: url(https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w1920-q80/cbs_page_attribute/upsell_latam_hero1_weblandscape_2560x1280_013124.jpg);">
    <div class=" text-center">
        <h1 class="text-6xl pb-[15px] "><b>CUANDO QUIERAS, DONDE QUIERAS</b></h1>
        <p class="text-xl pb-[50px]">
            Suscríbete por $19,900.00 COP / Mes. <br>
            Cancela en cualquier momento.</p>
        
        <div class="">
            <a class="boton1 py-[20px] px-[76px]" href=""><b>SUBSCRÍBETE A PARAMOUNT+</b></a>
            <br>
            <br>
            <br>
            <br>
            <a class="border border-white hover:bg-white hover:text-black duration-500 py-[20px] px-[76px]" href=""><b>SUBSCRÍBETE A PARAMOUNT+ </b></a>
            <br>
            <br>
            <br>
            <br>       
            <a class="border border-white hover:bg-white hover:text-black duration-500 py-[20px] px-[76px]" href=""><b>SUBSCRÍBETE A PARAMOUNT+ </b></a>
               </div>
    </section>
   
    <style>
        .boton1{
           background: linear-gradient(90deg, #0037c5, #0064ff);
        }
    
        .boton1:hover{
            background: #195375;
            background: linear-gradient(90deg, #0064ff 0%, #0037c5 100%);
    
    
        }
    </style>
    