<section class="px-[100px] pb-[100px] pt-[100px] bg-repeat-round" style="background-image: url(https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w1920-q80/cbs_page_attribute/upsell_latam_hero3_weblandscape_2560x960_102023_0.jpg);">
<div>
    <h1 class="text-5xl w-[350px] pb-[22px] "><b>SOMOS ORIGINALES Y EXCLUSIVOS</b></h1>
    <p class="text-xl w-[570px] pb-[35px]">
        Disfruta de historias únicas, estrellas icónicas y programas exclusivos que no encontrarás en ningún otro lugar.
    </p>
    <a class="boton1 mb-10 rounded-sm duration-700 px-[60px] py-[23px]" href="">SUBSCRÍBETE A PARAMOUNT+ </a>
    <br>
    <br>
    <br>
    <div class="grid grid-cols-7 gap-5">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/sopsl_latam_s01_poster_1400x2100_nb_061523.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/yst_gen_s5a_poster_1400x2100_nb_110422_2.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/halo_s1_poster_1400x2100_nb_022822_7.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/rah_latam_s01_poster_1400x2100_nb_032823.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/tul_au_s1_poster_1400x2100_nb_101922.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/stn_gen_s02_poster_1400x2100_nb_060823_0.jpg" alt="">
        <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/yrh_gen_s02_poster_1400x2100_nb_111722.jpg" alt="">
        
    </div>
</div>
</section>
<style>
    .boton1{
       background: linear-gradient(90deg, #0037c5, #0064ff);
    }

    .boton1:hover{
        background: #195375;
        background: linear-gradient(90deg, #0064ff 0%, #0037c5 100%);


    }
</style>

