<section class="px-[100px] pb-[50px] pt-[30px] bg-repeat-round" style="background-image: url(https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w1920-q80/cbs_page_attribute/upsell_latam_hero3_weblandscape_2560x960_013124.jpg);">
    <div>
        <h1 class="text-5xl w-[350px] pb-[22px] "><b>SOMOS ORIGINALES Y EXCLUSIVOS</b></h1>
        <p class="text-xl w-[570px] pb-[35px]">
            Disfruta de historias únicas, estrellas icónicas y programas exclusivos que no encontrarás en ningún otro lugar.
        </p>
        <a class="boton1 mb-10 rounded-sm duration-700 px-[60px] py-[23px]" href="">SUBSCRÍBETE A PARAMOUNT+ </a>
        <br>
        <br>
        <br>
        <div class="grid grid-cols-6 px-[70px] gap-5">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/psbl_latam_2023_sa_poster_1400x2100_nb_090523.jpg" alt="">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/msh2_gen_2023_sa_poster_1400x2100_nb_092723_0.jpg" alt="">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/ddhat_latam_2023_sa_poster_1400x2100_nb_081123.jpg" alt="">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/sc6_latam_2023_sa_poster_1400x2100_nb_041823.jpg" alt="">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/bln_can_sa_poster_1400x2100_nb_021723.jpg" alt="">
            <img src="https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w700-q80/cbs_page_attribute/z102_gen_2023_sa_poster_1400x2100_nb_070623_0.jpg" alt="">
            
        </div>
    </div>
    </section>
    <style>
        .boton1{
           background: linear-gradient(90deg, #0037c5, #0064ff);
        }
    
        .boton1:hover{
            background: #195375;
            background: linear-gradient(90deg, #0064ff 0%, #0037c5 100%);
    
    
        }
    </style>
    
    